<%= content_for :general_css do %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!-- ==========================
    	JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
<% end %>



<div class="container">
	<div class="header-title">
    	<div class="pull-left">
    		<h1><span class="text-primary">C</span>hannels</h1> 
        </div>
    </div>
</div>

<div class="container">
    <section class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <%= form_tag(channels_path, :method => "get",class: "form-inline") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search Channel",class: "form-control", required: true, oninvalid: "setCustomValidity('Write a friend name')", onchange: "try{setCustomValidity('')}catch(e){}"  %>
                <%= submit_tag "Search", class: "btn btn-primary" %>
                <%= link_to "Create a channel", new_channel_path %>
                <% end %>

            <% if @channels.present? %>
                <ul class="nav nav-sidebar">
                    <% @channels.each do |channel| %>
                    <li><%= link_to channel.name, channel_path(:id => channel.id) %></li>
                    <% end %>
                </ul>
            <% elsif params[:search] == nil %>
                <p></p>
            <% else %>
              <p>There are no channels containing name <%= params[:search] %>. Click <%= link_to("here", channels_path, method: :get) %> to search again.</p>
            <% end %>

            </div>
        </div>
    </section>
</div>



   
<%= content_for :general_js do %>       
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script src="/assets/creative-brands.js"></script>
    <script src="/assets/jquery.vegas.min.js"></script>
    <script src="/assets/twitterFetcher_min.js"></script>
    <script src="/assets/jquery.countdown.min.js"></script>
   
<% end %>
