<%= content_for :general_css do %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!-- ==========================
    	JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
<% end %>

<div class="container hidden-xs">
	<div class="header-title">
    	<div class="pull-left">
    		<h1><a href="index.html"><span class="text-primary">Create</span>Channels</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        </div>
    </div>
</div>

<div class="container">
    <section class="content-wrapper">
    	  <div class="row">
    	  	<div class="col-sm-12">
<%= form_for(@channel) do |f| %>

	<div class="form-group"> 
	    <div class="row">               
	        <label class="control-label col-sm-4 col-md-3">Channel Name</label>
	        <div class="col-sm-6 col-md-5">
	            <%= f.text_field :name, tabindex: "1", class: "form-control", placeholder: 'Enter The Channel Name', autofocus: true, required: true %>
	        </div>
	    </div>
	</div>
	<div class="form-group"> 
	    <div class="row">               
	        <label class="control-label col-sm-4 col-md-3">Channel Description</label>
	        <div class="col-sm-6 col-md-5">
	            <%= f.text_area :description, tabindex: "2", class: "form-control", placeholder: 'Put The Description', required: true %>
	        </div>
	    </div>
	</div>
	<div class="form-group">
	    <div class="row">                
	        <label class="control-label col-sm-4 col-md-3">Channel Type</label>
	        <div class="col-sm-6 col-md-5">                                
	        <%= f.select :channel_type, [['Game'], ['Community'], ['Team'], ['Top Players']], {}, tabindex: "3", class: "form-control" %>                                
	        </div>
	    </div>
	</div>
	<div class="row">
        <div class="actions">
        	<div class="col-xs-6 col-sm-5 col-md-4">                                        
                <%= link_to 'Cancel', root_path, :class => 'btn btn-primary', tabindex: "4" %>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-4">
                    <%= f.submit 'Submit', :class => 'btn btn-primary',tabindex: "5" %>
            </div>             
        </div>
    </div>

<% end %>
			</div>
		</div>
	</section>
</div>
   
<%= content_for :general_js do %>       
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script src="/assets/creative-brands.js"></script>
    <script src="/assets/jquery.vegas.min.js"></script>
    <script src="/assets/twitterFetcher_min.js"></script>
    <script src="/assets/jquery.countdown.min.js"></script>
   
<% end %>
