<%= content_for :general_css do %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!-- ==========================
        JS 
    =========================== -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
<% end %>

<div class="container">
    <div class="header-title">
        <div class="pull-left">
            <h1><a href="#"><span class="text-primary">C</span>hannel</a></h1>
        </div>
    </div>
</div>

<div class="container">
    <section class="content-wrapper">
          <div class="row">
            <div class="col-sm-12 text-right">
<% if @channel.user_id == current_user.id %>
<%= link_to "Edit", edit_channel_path(@channel), :class => 'btn btn-primary' %>
<%= link_to "Delete Channel", delete_channel_channels_path(:id => @channel.id), :method => :put, data: {confirm: "Are you sure you want to delete this channel ?"}, :class => 'btn btn-primary' %>
<% end %>
            </div>
            <div class="col-sm-12">
<span>Channel Name: </span><%= @channel.name %><br>
<span>Channel Description: </span><%= @channel.description %><br>
<span>Channel Type: </span><%= @channel.channel_type %><br>
<span>Channel image: </span><%= image_tag @channel.channel_img_url %><br>
<span class= "text-capitalize">Posted by:
            <% postby = User.find(@channel.user_id) %>
         <strong><%= postby.first_name %> <%= postby.last_name %></strong>
</span>

<% if @fol.exists? %>
<span><%= link_to 'Unfollow', unfollow_channels_path(:user_id => current_user.id, :channel_id => @channel.id), :method => :put %></span>

<% else %>
<span><%= link_to 'Follow', follow_channels_path(:user_id => current_user.id, :channel_id => @channel.id), :method => "post" %></span>
<% end %>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">

<!-- <div id="channel_post">
  <%= render :partial => 'channels/channelpost', :collection => @channel_posts %>
</div> -->
<% @channel_posts.each do |c| %>
    <%= User.find(c.user_id).first_name %> :
    <%= c.comment %>
    <br>
<% end %>


<%= form_tag create_new_post_channels_path, method: :post, class: "form-horizontal" do  %>
<%= hidden_field_tag :channel_id , params[:id] %>
<div class="form-group">
  <label class="control-label col-sm-3">Comments</label>
  <div class="col-sm-9">                                  
      <%= text_area_tag "comment", nil, type:"text", tabindex: "1", class: "form-control",   placeholder: 'Write your comment' %>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-xs-6 col-sm-4">
    <%= submit_tag 'Submit', :class => 'btn btn-primary' %>
  </div>
</div>

<% end %>
            </div>
        </div>
    </section>
</div>
   
<%= content_for :general_js do %>       
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script src="/assets/creative-brands.js"></script>
    <script src="/assets/jquery.vegas.min.js"></script>
    <script src="/assets/twitterFetcher_min.js"></script>
    <script src="/assets/jquery.countdown.min.js"></script>
   
<% end %>
