
<article class="post">
	<div class="post-date-wrapper">
    	<div class="post-date">
        	<div class="day"><%= newsfeed.created_at.strftime("%d") %></div>
        	<div class="month"><%= newsfeed.created_at.strftime("%b %Y") %></div>
        </div>
    </div>
    <div class="post-body">
        <h2><%= newsfeed.feed_title %></h2>

        <p><%= image_tag newsfeed.image_url %>
        	<%= newsfeed.post %></p>
        <div class="post-info">
            <span class= "text-capitalize">Posted by: <strong><%= current_user.first_name %> <%= current_user.last_name %></strong></span>
            
            <%= link_to "View More", newsfeed_path(:id), class: "btn btn-inverse" %>
            
        </div>
    </div>
</article>