<%= content_for :general_css do %>
<link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/assets/animate.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
<link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
<link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
<link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
<link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
<link href="/assets/custom.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<% end %>  

<div class="container">
    <section class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="box">
    <h4>Edit your thoughts: </h4>

    <%= form_for @newsfeed, :html => {:multipart => true}, authenticity_token: true do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
            <%= f.text_field :feed_title, class: "form-control", required: true %>
        </div>
        <div class="form-group">
            <%= f.text_area :post, class: "form-control", required: true, rows: "15" %>
        </div>
        <div class="form-group">
            <%= f.file_field :image, class: "form-control" %>
        </div>
        <%= link_to "Cancel", index_path, class: "btn btn-primary" %>
            <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
                </div>
			</div>
		</div>
	</section>
</div>
<% content_for :general_js do %>       
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/owl.carousel.js"></script>
<script src="/assets/jquery.magnific-popup.min.js"></script>
<script src="/assets/creative-brands.js"></script>
<script src="/assets/jquery.vegas.min.js"></script>
<script src="/assets/twitterFetcher_min.js"></script>
<script src="/assets/jquery.countdown.min.js"></script>
<script src="/assets/custom.js"></script>
<% end %>
