<%= content_for :general_css do %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
<% end %>

   
    <!-- ==========================
    	TITLE - START 
    =========================== -->
    <div class="container hidden-xs">
    	<div class="header-title">
        	<div class="pull-left">
        		<h1><span class="text-primary">G</span>allery</h1>
            </div>
        </div>
    </div>
<!-- ===== TITLE - END ===== -->
    


<!-- ===== CONTENT - START ===== -->
<div class="container">
    <section class="content-wrapper">
    	<div class="row">
        
        	<!-- SIDEBAR - START -->
        	<div class="col-sm-4">
                
                <!-- SIDEBAR BOX CHANNEL NOTIFICATION- START -->
                <%= render :partial => 'layouts/channel_notification' %>
                <!-- SIDEBAR BOX CHANNEL NOTIFICATION - END -->
                
                <!-- SIDEBAR BOX - START -->
                <div class="box sidebar-box widget-wrapper">
                	<h3>Latest Tweets</h3>
                    <div id="twitter-wrapper">
                    </div>
                </div>
                <!-- SIDEBAR BOX - END -->
                
            </div>
            <!-- SIDEBAR - END -->
            
            <!-- CONTENT BODY - START -->
            <div class="col-sm-8">
            	<div class="box">
                    <div class="row">
                        <% if @user == current_user %>
                        <div class="col-sm-8">
                            <%= form_tag gallery_pic_user_details_path, :multipart => true, :method=>'post', class: "form-inline" do %>
                                    <div class="form-group"> 
                                        <%= file_field_tag  "pic", class: "form-control", required: true, oninvalid: "setCustomValidity('Choose a photo')", onchange: "try{setCustomValidity('')}catch(e){}" %>
                                    </div>
                                    <div class="form-group"> 
                                       <%= submit_tag "Add" , class: "btn btn-primary" %>
                                    </div>                        
                            <% end %>
                        </div>
                        <div class="col-sm-4 text-right">
                            <% if @pictures.present?  %>
                            <%= link_to "Remove Images", galleryimage_user_details_path(:id =>current_user.id), method: :get, class: "btn btn-primary" %>
                            <% end %>
                        </div>
                        <% end %>
                    </div>              
                </div>

            <% if @pictures.present?  %>
                <div class="box">                                            
                    <!-- GALLERY POST - START -->
                    <article class="post gallery-post">
                        <div class="row gallery-page">
                            <% for g in @pictures %>
                                <div class="col-sm-3 ">
                                  <%= link_to g.pic_url do %>
                                  <br>
                                    <%= image_tag g.pic_url, class: "img-responsive img-thumbnail img_height" %>
                                  <% end %>
                                </div>
                            <% end %>                                                           
                        </div>  
                    </article>
                    <!-- GALLERY POST - END -->
                </div>
            <% end %>

            </div>
                <!-- CONTENT BODY - END -->
                
        </div>
    </section>
</div>


<%= content_for :general_js do %>     
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/owl.carousel.js"></script>
<script src="/assets/jquery.magnific-popup.min.js"></script>
<script src="/assets/creative-brands.js"></script>
<script src="/assets/jquery.vegas.min.js"></script>
<script src="/assets/twitterFetcher_min.js"></script>
<script src="/assets/jquery.countdown.min.js"></script>
<script src="/assets/custom.js"></script>
<% end %>