<%= content_for :general_css do %>
    <link href="/assets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/animate.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.carousel.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.theme.css" rel="stylesheet" type="text/css">
    <link href="/assets/owl.transitions.css" rel="stylesheet" type="text/css">
    <link href="/assets/creative-brands.css" rel="stylesheet" type="text/css">
    <link href="/assets/jquery.vegas.min.css" rel="stylesheet" type="text/css">
    <link href="/assets/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/assets/custom.css" rel="stylesheet" type="text/css">
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    
<% end %>

   
    <!-- ==========================
    	TITLE - START 
    =========================== -->
    <div class="container hidden-xs">
    	<div class="header-title">
        	<div class="pull-left">
        		<h1><a href="/"><span class="text-primary">P</span>rofile</a></h1>
            </div>
        </div>
    </div>
<!-- ===== TITLE - END ===== -->
    


<!-- ===== CONTENT - START ===== -->
    <div class="container">
        <section class="content-wrapper">
<div class="row">
    <div class="col-sm-12">
        <div class="box">                        
            <!-- TEAM MEMBER - START -->   
            <div class="team-member single">
                <div class="row" id="profile_img">
                    <div class="col-sm-4 col-md-3">
                        <a href="#" data-toggle="modal" data-target="#ModalProfile"> 
                            <% if @user.profile_pic_url != nil %>
                            <%= image_tag @user.profile_pic_url, class: "img-responsive center-block img-thumbnail" %>
                            <% else %>
                            <%= image_tag('profile-img.jpg', class: "img-responsive center-block img-thumbnail") %>
                            <% end %> 
                        </a> 

                        <!-- <ul class="brands brands-tn brands-circle brands-colored brands-inline text-center">
                            <li><a href="https://www.facebook.com/pixelized.cz" target="_blank" class="brands-facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/Pixelizedcz" target="_blank" class="brands-twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+PixelizedCz/" target="_blank" class="brands-google-plus"><i class="fa fa-google-plus"></i></a></li>
                        </ul> -->
                    </div>
                    <div class="col-sm-8 col-md-9">
                        <h2>Player Username<small><%= @user.first_name %></small></h2>
                        <ul class="list-unstyled">
                            <li><strong>Member since:</strong><%= @user.created_at.strftime("%Y %b %d") %></li>
                            <li><strong>Email:</strong><%= @user.email %></li>
                            <li><strong>Status:</strong><%= @user.status %></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- TEAM MEMBER - END --> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4" id="profile-list">
        <div class="box">
      <ul class="nav nav-tabs nav-stacked" role="tablist">
        <li role="presentation" class="active"><a href="#friend" aria-controls="friend" role="tab" data-toggle="tab">Friends</a></li>
        <li role="presentation"><a href="#contact_info" aria-controls="contact_info" role="tab" data-toggle="tab">Contact Information</a></li>
        <li role="presentation"><a href="#personal_info" aria-controls="personal_info" role="tab" data-toggle="tab">Personal Information</a></li>
        <li role="presentation"><a href="#gamer" aria-controls="gamer" role="tab" data-toggle="tab">Gamer Information</a></li>
        <li role="presentation"><a href="#channel" aria-controls="channel" role="tab" data-toggle="tab">Channel Section</a></li>
      </ul>
        </div>
        
        <div class="box sidebar-box widget-wrapper">
            <h3>Latest News</h3>
            <div id="twitter-wrapper">
            </div>
        </div>

    </div>
    <div class="col-sm-8">
        <div class="box">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade" id="contact_info">
                    <div class="row">
                        <div class="col-sm-11">
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>Address:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.addr %></h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>Phone:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.phone %></h5>
                                </div>
                            </div>                    
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>Email:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.email %></h5>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-sm-1">
                            <% if @user == current_user %>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalContact">Edit</button>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="personal_info">
                    <div class="row">
                        <div class="col-sm-11">
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>Gender:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.gender %></h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>Status:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.status %></h5>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-2">
                                    <h5>About:</h5>
                                </div>
                                <div class="col-sm-10">
                                    <h5><%= @user.about %></h5>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="col-sm-1">
                            <% if @user == current_user %>
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModalContact">Edit</button>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="gamer">
                    <div class="box">
                        <% @genres.each do |genre| %>
                            <h5>Name: <%= genre.name %></h5>
                            <h5>Description: <%= genre.description %></h5>
                            <br>
                        <% end %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="channel">
                    <div class="box">
                        <% @channels.each do |channel| %>
                            <h5>Name: <%= channel.name %></h5>
                            <h5>Description: <%= channel.description %></h5>
                            <h5>Channel Type: <%= channel.channel_type %></h5>
                            <br>
                        <% end %>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade in active" id="friend">
                    
<div class="box  config">
    <h2>Friends</h2>
    <div class="row">
        <% for f1 in @friends %>
            <div class="col-sm-3">
        <% ud1 = User.find(f1.friend_id) %>
        <% if ud1.profile_pic_url != nil %>        
            <%= image_tag ud1.profile_pic_url, class: "img-responsive img-circle center-block img-thumbnail" %>
        <% else %>
            <%= image_tag('profile-img.jpg', class: "img-responsive img-circle center-block img-thumbnail") %>
        <% end %>
        <%= link_to(ud1.first_name, profile_user_details_path(:id =>ud1.id), method: :get) %>
        <% if @user == current_user %>
        <p><%= link_to "Remove", destroy_friendship_friendships_path(:friend_id => ud1.id), :method => :post %></p>
        <% end %><br>
            </div>
        <% end %>
    </div>
</div>

<div class="box  config">
    <div class="row">
        <% for user in @users %>
            <div class="col-sm-3">
        <% if user.profile_pic_url != nil %>
            <%= image_tag user.profile_pic_url, class: "img-responsive img-circle center-block img-thumbnail" %>
        <% else %>
            <%= image_tag('profile-img.jpg', class: "img-responsive img-circle center-block img-thumbnail") %>
        <% end %> 
           <h4><%= user.first_name %></h4><p><%= link_to "Add Friend", friendships_path(:friend_id => user), :method => :post%></p><br>
            </div>
       <% end %>
    </div>                        
</div>

<% if @user == current_user %>
<div class="box  config">
    <h2>Friends Request sent</h2>
    <div class="row">
        <% for f in @friends_rq_sent %>
            <div class="col-sm-3">
        <% ud = User.find(f.friend_id) %>
        <% if ud.profile_pic_url != nil %>        
            <%= image_tag ud.profile_pic_url, class: "img-responsive img-circle center-block img-thumbnail" %>
        <% else %>
            <%= image_tag('profile-img.jpg', class: "img-responsive img-circle center-block img-thumbnail") %>
        <% end %>
         
        <%= link_to(ud.first_name, profile_user_details_path(:id =>ud.id), method: :get) %>
        <% if @user == current_user %>
        <p><%= link_to "Remove", destroy_friendship_friendships_path(:friend_id => ud.id), :method => :post %></p>
        <% end %>

            </div>
        <% end %>
    </div>
</div>
<% end %>

<% if @user == current_user %>
<div class="box  config">
    <h2>Friends Request Received</h2>
    <div class="row">
        <% for f in @friends_rq_recieved %>
            <div class="col-sm-3">
        <% ud = User.find(f.friend_id) %>
        <% if ud.profile_pic_url != nil %>        
            <%= image_tag ud.profile_pic_url, class: "img-responsive img-circle center-block img-thumbnail" %>
        <% else %>
            <%= image_tag('profile-img.jpg', class: "img-responsive img-circle center-block img-thumbnail") %>
        <% end %>
        
        <br>
        <%= link_to(ud.first_name, profile_user_details_path(:id =>ud.id), method: :get) %>
        <% if @user == current_user %>
        <p><%= button_to "Accept", friend_accept_friendships_path(:friend_id => ud) %>
        <%= link_to "Remove", destroy_friendship_friendships_path(:friend_id => ud.id), :method => :post %></p>
        <% end %>
            </div>
        <% end %>
    </div>
</div>
<% end %>
                    
                    
                </div>

            </div>
        </div>

        <!-- <div class="box colored config">
            <p>Here you can download player's config. <a href="" class="btn btn-simple">Download</a></p>
        </div> -->


    </div>
</div>

        	<div class="row">
            
            	<!-- SIDEBAR - START -->
            	<div class="col-sm-4 hidden-xs">
					
                    <!-- SIDEBAR BOX - START -->
                    
                    <!-- SIDEBAR BOX - END -->
                    
                    <!-- SIDEBAR BOX - START -->
                    <!-- <div class="box sidebar-box widget-wrapper widget-matches">
                    	<h3>Upcoming matches <a href="matches-list.html" class="btn btn-primary pull-right btn-sm">All matches</a></h3>
                        
                        <a href="match-single.html">
                            <table class="table match-wrapper">
                                <tbody>
                                    <tr>
                                        <td class="game">
                                            <img src="assets/icons/dota2.png" alt="">
                                            <span>Dota 2</span>
                                        </td>
                                        <td class="game-date">
                                            <span>5/10/2015 - 19:30</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/cze.png" alt="">Czech Republic</td>
                                        <td class="team-score">-</td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/swe.png" alt="">Sweden</td>
                                        <td class="team-score">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        
                        <a href="match-single.html">
                            <table class="table match-wrapper">
                                <tbody>
                                    <tr>
                                        <td class="game">
                                            <img src="assets/icons/csgo.jpg" alt="">
                                            <span>CS GO</span>
                                        </td>
                                        <td class="game-date">
                                            <span>22/11/2015 - 22:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/den.png" alt="">Fnatic</td>
                                        <td class="team-score">-</td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/swe.png" alt="">Ninjas in Pyjamas</td>
                                        <td class="team-score">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    </div> -->
                    <!-- SIDEBAR BOX - END -->
                    
                    <!-- SIDEBAR BOX - START -->
                    <!-- <div class="box sidebar-box widget-wrapper widget-matches">
                        <h3>Latest matches <a href="matches-list.html" class="btn btn-primary pull-right btn-sm">All matches</a></h3>
                        
                        <a href="match-single.html">
                            <table class="table match-wrapper">
                                <tbody>
                                    <tr>
                                        <td class="game">
                                            <img src="assets/icons/lol.png" alt="">
                                            <span>LoL</span>
                                        </td>
                                        <td class="game-date">
                                            <span>18/02/2015 - 14:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/usa.png" alt=""><b>Ninjas in Pyjamas</b></td>
                                        <td class="team-score win">9</td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/den.png" alt="">Natus Vincere</td>
                                        <td class="team-score lose">5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                        
                        <a href="match-single.html">
                            <table class="table match-wrapper">
                                <tbody>
                                    <tr>
                                        <td class="game">
                                            <img src="assets/icons/gta.png" alt="">
                                            <span>GTA</span>
                                        </td>
                                        <td class="game-date">
                                            <span>8/6/2015 - 12:00</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/swe.png" alt=""><b>Ninjas in Pyjamas</b></td>
                                        <td class="team-score win">9</td>
                                    </tr>
                                    <tr>
                                        <td class="team-name"><img src="assets/icons/usa.png" alt="">Natus Vincere</td>
                                        <td class="team-score lose">5</td>
                                    </tr>
                                </tbody>
                            </table>
                        </a>
                    </div> -->
                    <!-- SIDEBAR BOX - END -->
                    
                    <!-- SIDEBAR BOX - START -->
                    <!-- <div class="box sidebar-box widget-wrapper">
                    	<h3>Categories</h3>
                        <ul class="nav nav-sidebar">
                        	<li><a href="#">Tournaments<span>45</span></a></li>
                            <li><a href="#">Leagues<span>122</span></a></li>
                            <li><a href="#">Counter Strike<span>684</span></a></li>
                            <li><a href="#">Dota 2<span>1242</span></a></li>
                            <li><a href="#">World of Warcraft<span>112</span></a></li>
                            <li><a href="#">Minecraft<span>18</span></a></li>
                        </ul>
                    </div> -->
                    <!-- SIDEBAR BOX - END -->
                    
                    <!-- SIDEBAR BOX - START -->
                    
                    <!-- SIDEBAR BOX - END -->
                    
                </div>
                <!-- SIDEBAR - END -->
                
                <!-- CONTENT BODY - START -->
                <div class="col-sm-8">
                	
                    
                    <!-- <div class="box  config">
                        <% @genres.each do |genre| %>
                            <%= genre.name %>
                            
                        <% end %>
                    </div> -->

                                        

                    

                    
                    
                    <!-- <div class="box hardware">
                    	<h2>Hardware</h2>
                        <div class="row">
                            <div class="col-md-6">
                            	<div class="team-member">
                                    <ul class="list-unstyled">
                                        <li><strong>CPU</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>GPU:</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>RAM:</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>Screen:</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>Headset</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>Keyboard:</strong>Lorem ipsum dolor sit amet</li>
                                        <li><strong>Mouse:</strong>Lorem ipsum dolor sit amet</li>
                                    </ul>
                                </div>
                            </div>
                            
                            <div class="col-md-6">
                                <img src="/assets/pc.jpg" class="img-responsive center-block" alt="">
                            </div>	
                        </div>
                    </div> -->
                    
                    
                    
                    <!-- <div class="row">
                    	<div class="col-md-6">
                            <div class="box sidebar-box widget-wrapper">
                                <h3>Last comments</h3>
                                <ul class="nav nav-sidebar">
                                    <li><a href="#">Lorem ipsum dolor sit<span>3/2/2015</span></a></li>
                                    <li><a href="#">consectetur adipiscing<span>3/2/2015</span></a></li>
                                    <li><a href="#">Nam auctor dictum<span>3/2/2015</span></a></li>
                                </ul>
                            </div>
                    	</div>
                        
                        <div class="col-md-6">
                            <div class="box sidebar-box widget-wrapper">
                                <h3>Last forum posts</h3>
                                <ul class="nav nav-sidebar">
                                    <li><a href="#">Lorem ipsum dolor sit<span>3/2/2015</span></a></li>
                                    <li><a href="#">consectetur adipiscing<span>3/2/2015</span></a></li>
                                    <li><a href="#">Nam auctor dictum<span>3/2/2015</span></a></li>
                                </ul>
                            </div>
                    	</div>
                    </div>  -->
                    
                    
                </div>
                <!-- CONTENT BODY - END -->
                
            </div>
        </section>
    </div>
    <!-- ==========================
    	CONTENT - END 
    =========================== -->
   
<!-- Profile picture modal -->
<div class="modal fade" id="ModalProfile" role="dialog" aria-labelledby="gridSystemModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
<%= form_tag update_pic_user_details_path, :multipart => true, :method=>'post' do %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="gridSystemModalLabel">Update Profile Picture</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
        <div class="form-group"> 
            <%= file_field_tag  "profile_pic", class: "form-control" %>
        </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <%= submit_tag "update" , class: "btn btn-primary" %>
      </div>
<% end %>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!-- Modal Contact & Personal Information -->
<div class="modal fade" id="myModalContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabelContact">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelContact">Contact and Personal Information</h4>
      </div>
      <div class="modal-body">
        <%= form_tag(update_user_user_details_path, :method=>'post') do %>
        <div class="form-group"> 
            <%= label_tag 'addr', 'Address' %>
            <%= text_field_tag 'addr', @user.addr, class: "form-control" %>
        </div>
        <div class="form-group"> 
            <%= label_tag 'phone', 'Phone' %>
            <%= text_field_tag 'phone', @user.phone, class: "form-control" %>
        </div>
        <div class="form-group"> 
            <%= label_tag 'gender', 'Gender' %>
            <%= text_field_tag 'gender', @user.gender, class: "form-control" %>
        </div>
        <div class="form-group"> 
            <%= label_tag 'status', 'Status' %>
            <%= text_field_tag 'status', @user.status, class: "form-control" %>
        </div>
        <div class="form-group"> 
            <%= label_tag 'about', 'About' %>
            <%= text_area_tag 'about', @user.about, class: "form-control" %>
        </div>
        <div class="form-group"> 
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
           <%= submit_tag "Save" , class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>

<%= content_for :general_js do %>       
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script src="/assets/bootstrap.min.js"></script>
    <script src="/assets/owl.carousel.js"></script>
    <script src="/assets/jquery.magnific-popup.min.js"></script>
    <script src="/assets/creative-brands.js"></script>
    <script src="/assets/jquery.vegas.min.js"></script>
    <script src="/assets/twitterFetcher_min.js"></script>
    <script src="/assets/jquery.countdown.min.js"></script>
    <script src="/assets/custom.js"></script>
<% end %>