<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <%= favicon_link_tag 'favicon.png' %>
<title>eLegend - Log In or Sign Up</title>
<link rel="shortcut icon" href="/assets/icons/favicon.ico">
<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
<link rel="apple-touch-icon" sizes="72x72" href="/assets/icons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="114x114" href="/assets/icons/apple-touch-icon-114x114.png">

<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>


<%= yield :signin_css %>

<%= csrf_meta_tags %>

</head>
<body>
	
    <!-- ==========================
    	HEADER - START 
    =========================== -->
<header class="navbar navbar-default navbar-fixed-top">
	<div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="navbar-header">
                	<a href="/" class="navbar-brand"><%= image_tag "elegend.png", alt: "Home", class: "image_responsive logo_top" %></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="navbar-collapse collapse">
                    <div class="pull-right navbar-buttons">
                        <% if user_signed_in? %>
                         <span class="text-primary"><%= current_user.email %></span>
                          <%= link_to 'Logout', destroy_user_session_path, class: "btn btn-inverse", :method => :delete %>
                        <% else %>

<div class="box registration-form">
                        
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="col-sm-5">
    <div class="form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, class: "form-control", placeholder: "Enter Email", autofocus: true %>
    </div>
</div>
<div class="col-sm-5">
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: "form-control", placeholder: "Password", autocomplete: "off" %>
    </div>
</div>
<div class="col-sm-2">
    <div class="form-group">
        <div class="pad-top2">          
        <%= f.submit "Log in", class: "btn btn-primary" %>
        </div>
    </div>
</div>
<div class="col-sm-6">
    <div class="checkbox remember">
     <!--  <label><input type="checkbox"> Remember me on this computer</label></div> -->
      <% if devise_mapping.rememberable? -%>        
          <%= f.check_box :remember_me %>
          <%= f.label "Remember me on this computer" %>    
      <% end -%>
    </div>
</div>
<div class="col-sm-6">
    <a id="reset-password-toggle" class="">Did you forget your password?</a> 
</div>
    <% end %>
                    
    <div class="box registration-form" id="reset-password">
        <h2>Frogotten password</h2>
        <p>If you've forgotten your password use this form to reset your password. New password will be send to your email.</p>
        <form>
            <div class="form-group">
                <label for="forg_email">Email address</label>
                <input type="email" class="form-control" id="forg_email" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-primary">Reset password</button>
        </form>
    </div>
</div>


                        <% end %>                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
    <!-- ==========================
    	HEADER - END 
    =========================== --> 

<%= yield %>

<!-- ==========================
    	FOOTER - START 
    =========================== -->
    <div class="container">
    	<div class="footer-boxes">
        	<div class="row">
                        
                <!-- FOOTER BOX - START -->
            	<!--<div class="col-md-4 hidden-xs hidden-sm">-->
                	<!--<div class="box">-->
                    	<!--<h4>About Us</h4>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.</p>-->
                    <!--</div>-->
            	<!--</div>-->
                <!--&lt;!&ndash; FOOTER BOX - END &ndash;&gt;-->
                <!-- -->
                <!--&lt;!&ndash; FOOTER BOX - START &ndash;&gt;-->
                <!--<div class="col-sm-6 col-md-4">-->
                	<!--<div class="box footer-tags">-->
						<!--<h4>Tags</h4>-->
                        <!--<a href=""><span class="text-10">Clean</span></a>-->
                        <!--<a href=""><span class="text-20">CV</span></a>-->
                        <!--<a href=""><span class="text-20">Flat</span></a>-->
                        <!--<a href=""><span class="text-14">Freelance</span></a>-->
                        <!--<a href=""><span class="text-20">Modern</span></a>-->
                        <!--<a href=""><span class="text-12">One Page</span></a>-->
                        <!--<a href=""><span class="text-14">Professional</span></a>-->
                        <!--<a href=""><span class="text-14">Responsive</span></a>-->
                        <!--<a href=""><span class="text-16">Resume</span></a>-->
                        <!--<a href=""><span class="text-20">Business</span></a>-->
                        <!--<a href=""><span class="text-16">Corporate</span></a>-->
                        <!--<a href=""><span class="text-18">CSS3</span></a>-->
                        <!--<a href=""><span class="text-12">HTML5</span></a>-->
                        <!--<a href=""><span class="text-16">Mobile First</span></a>-->
                        <!--<a href=""><span class="text-20">Multipurpose</span></a>-->
                        <!--<a href=""><span class="text-14">Portfolio</span></a>                   -->
					<!--</div>-->
            	<!--</div>-->
                <!--&lt;!&ndash; FOOTER BOX - END &ndash;&gt;-->
                <!-- -->
                <!--&lt;!&ndash; FOOTER BOX - START &ndash;&gt;-->
                <!--<div class="col-sm-6 col-md-4 hidden-xs">-->
                	<!--<div class="box footer-posts">-->
                        <!--<h4>Recent Posts</h4>	-->
                        <!--<ul class="list-unstyled">-->
                            <!--<li><a href="#">Pellentesque habitant morbi</a> <span class="post-date">6.2.2015</span></li>-->
                            <!--<li><a href="#">Tristique senectus et netus</a> <span class="post-date">31.1.2015</span></li>-->
                            <!--<li><a href="#">Et malesuada fames ac</a> <span class="post-date">9.12.2014</span></li>-->
                            <!--<li><a href="#">Turpis egestas nullam</a> <span class="post-date">1.12.2014</span></li>-->
                            <!--<li><a href="#">Posuere magna a dapibus luctus</a> <span class="post-date">25.11.2014</span></li>-->
                        <!--</ul>-->
                    <!--</div>-->
            	<!--</div>-->
                <!-- FOOTER BOX - END -->
                
            </div>
        </div>
    	<footer class="navbar navbar-default">
        	<div class="row">
            	<div class="col-md-6 hidden-xs hidden-sm">
                	<ul class="nav navbar-nav">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="team.html">Admin team</a></li>
                        <li><a href="profile.html">Profile</a></li>
                        <li><a href="tournament.html">Tournament</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="forum.html">Forum</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                	<p class="copyright">© eLegend 2015 All right reserved. Designed by <a href="http://www.thethinktech.com" target="_blank">ThinkTech Software Inc.</a></p>
                </div>
            </div>
        </footer>
    </div>
    <!-- ==========================
    	FOOTER - END 
    =========================== -->


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

<%= yield :signin_js %>

</body>
</html>